@media (prefers-color-scheme: light) {
	:root {
		--clr-text-main: rgba(0, 0, 0, 0.87); /* dark grey */
		--clr-text-light: rgba(158, 158, 158, 1); /* light grey */
		--clr-text-correct: rgba(0, 128, 0, 1); /* green */
		--clr-text-wrong: rgba(255, 0, 0, 1); /* red */
		--clr-background-main: rgba(245, 245, 245, 1); /* light grey */
		--clr-background-label: rgba(255, 255, 255, 1); /* white */
		--clr-background-light: rgba(255, 255, 255, 1); /* white */
		--clr-btn-default: rgba(100, 57, 172, 1); /* given color */
		--clr-btn-select: rgba(255, 193, 7, 1); /* bright yellow */
		--clr-btn-correct: rgba(94, 217, 162, 1); /* light green */
		--clr-btn-wrong: rgba(248, 188, 188, 1); /* light red */
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-text-main: rgba(255, 255, 255, 1); /* white */
		--clr-text-light: rgba(200, 200, 200, 1); /* medium grey */
		--clr-text-correct: rgba(0, 128, 0, 1); /* green */
		--clr-text-wrong: rgba(255, 0, 0, 1); /* red */
		--clr-background-light: rgba(33, 33, 33, 1); /* dark grey */
		--clr-background-label: rgba(0, 0, 0, 1); /* black */
		--clr-background-main: rgba(33, 33, 33, 1); /* dark grey */
		--clr-btn-default: rgba(100, 57, 172, 1); /* given color */
		--clr-btn-select: rgba(255, 193, 7, 1); /* bright yellow */
		--clr-btn-correct: rgba(94, 217, 162, 1); /* light green */
		--clr-btn-wrong: rgba(248, 188, 188, 1); /* light red */
	}
}

body {
	background-color: var(--clr-background-light);
	color: var(--clr-text-main);
	transition: background-color 0.3s, color 0.3s;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6em;
	margin-top: 2em;
	background-color: var(--clr-background-main);
	color: var(--clr-text-main);
	transition: background-color 0.3s, color 0.3s;
}

#logo-header {
	width: 3em;
}

.multiple-options {
	display: flex;
	justify-content: space-around;
}

input[type="radio"].radio-answer {
	display: none;
}

.label {
	display: inline-block;
	padding: 0.2em 2em;
	margin: 0 0.3em;
	color: var(--clr-text-main);
	border: 0.79px solid var(--clr-btn-default);
	border-radius: 7.94px;
	-webkit-border-radius: 7.94px;
	-moz-border-radius: 7.94px;
	-ms-border-radius: 7.94px;
	-o-border-radius: 7.94px;
	background: var(--clr-background-light);
	cursor: pointer;
	transition: border-color 0.25s;
	text-align: center;
}

/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */
input[type="radio"]:checked + .label {
	background: var(--clr-btn-select);
}

.label:hover,
input[type="radio"]:checked + .label:hover {
	color: var(--clr-text-light);
	background: var(--clr-btn-default);
}

.correct {
	color: var(--clr-text-correct);
	background: var(--clr-btn-correct);
	font-weight: bold;
}

.wrong {
	background: var(--clr-btn-wrong);
	text-decoration: line-through;
}

h1 {
	text-transform: capitalize;
	margin: 0;
}
.intro-text {
	text-transform: capitalize;
	margin: 0.5em 0;
}

hr {
	margin-top: 2em;
}

.final-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.final-result {
	padding: 0 2em;
}

.play-again {
	background: var(--clr-btn-default);
	height: 3em;
}

.question-container {
	display: grid;
	grid-template-columns: 10fr 1.5fr;
	text-align: start;
}

.start {
	text-transform: capitalize;
	margin-top: 1.5em;
}
.difficulty {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	justify-items: end;
	text-align: end;
	text-transform: capitalize;
}

.answer-container {
	display: grid;
	grid-template-columns: 10fr 1fr;
}

.labels-list {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
}

.answers-list {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
}

.category {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	justify-items: end;
	text-align: end;
	gap: 13px;
	text-transform: capitalize;
}

#amountQuestions {
	width: 3em;
}

#category-select {
	width: 10em;
}

#difficulty-select {
	width: 10em;
}

#questionType {
	width: 10em;
}

.div-options {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0.8em;
	margin: 1.25em;
}

.quizz-label {
	background-color: var(--clr-background-label);
	color: white;
}

.quizz-label:hover {
	background-color: #afadad;
	color: var(--clr-background-label);
}
